<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head")  %>
    <link rel="stylesheet" type="text/css" href="/assets/quiz/css/questionList.css" media="screen" charset="utf-8">
</head>

<body>
    <%- include("../partials/nav")  %>
    <div class="container">
        <h1>Quiz : <%= quiz.title %></h1>


        <!-- Remove this quiz -->
        <div class="optionWrapper myButton">
            <a href="/<%- quiz.slug %>/edit-title/">Change Title</a>
            <a href="/<%- quiz.slug %>/question/create">add question</a>
            <a href="/<%- quiz.slug %>/delete/">Delete this quiz</a>
        </div>

        <!-- PUBLISH QUIZ-->
        <% if(!quiz.isPublished ){ %>
        <form id="formPublish" action="/<%- quiz.slug %>/publish/" method="POST">
            <input type="text" hidden>
            <label for="submit">If you finished click publish. After that you will not be able to edit the quiz any
                more.</label><br /><br />
            <div>
                <input class="submitBtn myButton" type="submit" value="publish" id="submit">
            </div>


        </form>
        <% } %>


        <!-- List of questions -->
        <table>
            <tr>
                <th>
                    Questions
                </th>
                <th>

                </th>
            </tr>
            <% for(var i = 0; i < questions.length; i++) { %>
            <tr>
                <td>
                    <a href="/<%- quiz.slug %>/question/edit/<%- questions[i].id %>/"><%= questions[i].question %></a>
                </td>
                <td>
                    <form action="/<%- quiz.slug %>/question/delete/<%- questions[i].id %>/" method="POST">
                        <input type="submit" value="delete">
                    </form>
                </td>


            </tr>
            <% } %>
        </table>


    </div>
</body>

</html>