<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head")  %>

    <link rel="stylesheet" type="text/css" href="/assets/quiz/css/questionCreate.css" />
    <link rel="stylesheet" type="text/css" href="/assets/quiz/css/gameplay.css" />

</head>

<body>
    <%- include("../partials/nav")  %>


    <div class="container">
        <h1><%= quiz.title %></h1>
        <form action="/api/<%- quiz.slug %>" id="quizform">
            <input type="text" name="quizSlug" value="<%- quiz.slug %>" id="quizSlugInput" hidden />
            <input type="text" name="gameplayKey" id="gameplayKeyInput" hidden />
            <input type="text" name="questionId" value id="questionIdInput" hidden>

            <input class="myButton submitBtn startBtn" type="submit" value="start" id="quizSubmit">
        </form>
    </div>





    <script src="/assets/base/js/jquery-3.5.1.min.js">
    </script>
    <script src="/assets/quiz/js/quizGameplay.js">
    </script>
</body>

</html>